 <include file='Public/top'/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/detail.css">
        <div class='main'>
            <div class='fl slide'>
                <a>
                    <img src='__PUBLIC__/img/2c223230471611e6a143272e3aec81e6.jpg' />
                </a>
            </div>
            <!-- <div class='homelogin fr pd5'>
                <div>
                    注册
                </div>
            </div> -->
            <div class='clear'>
            </div>

            <div class='main_content'>
                <div class='search'>
                    <div class='search_checkbox'>
                         <input type='checkbox' name='search[]' value='pic'>相册
                    </div>
                    <div class='search_checkbox'>
                        <input type='checkbox' name='search[]' value='say'>说说
                    </div>
                    <div class='search_checkbox'> 
                        <input type='checkbox' name='search[]' value='log'>日志
                    </div>
                    <div class='fr'>
                        <a class='button' href='{:U("photographic/add")}'>发布需求</a>
                    </div>
                    <div class='clear'></div>
                </div>
                <div class='content'>
                    <div class='box'>
                        <div class='box_top'>
                            <div class='face'>
                                <a href='#' class='user_face'>
                                    <img src='__PUBLIC__/img/middle.jpg'>
                                </a>
                            </div>
                            
                            <div class='box_top_right'>
                                <div>
                                    <a href=''>
                                        小白爱吃小白菜QA_
                                    </a>
                                </div>
                               
                                <div class='box_top_time'>
                                    2天前
                                </div>
                            </div>
                            <div class='clear'></div>
                        </div>
                        <div class='box_mid'>
                           
                            <div class='box_mid_content'>
                                <div>
                                    <p>标题：大数据库</p>
                                    <p>我是：摄影师</p>
                                    <p>需要：模特</p>
                                    <p>费用：免费</p>
                                    <p>详细说明：</p>
                                </div>
                                <!-- <div class='box_mid_img'>
                                    <img src='__PUBLIC__/img/w650.jpg'>
                                </div> -->
                            </div>
                            <div> 
                                <span class='button'><a href='{:U("photographic/info")}'>详情查看</a></span>
                            </div>
                        </div>
                        <div class='box_bom'>
                        </div> 
                    </div>
                </div>
                
                </div>
               
                    <div class='clear'></div>
                </div>
            </div>
        </div>
<include file='Public/bottom'/>