<include file='Public/top'/>
<div class='main registerdiv'>
    <div class='rigister'>
        <div class='regiset_top'>
            <div class='regiset_top_title'>
                登陆
            </div>
            <div class='fr'>
                <a href='{:U("register/index")}'>立刻注册</a>
            </div>
            <div class='clear'></div>
        </div>
        <div>
            <from action='' method='post'>
                <div class='regist_from' style='margin-left: -15%'>
                    <div class='input_div'>
                        <label class='label'>账号:</label>
                        <input class='input_text' type='text' name='phone' value=''>
                    </div>
                    
                    <div class='input_div'>
                        <label class='label'>密码:</label>
                        <input  class='input_text' type='password' name='passwd' >
                    </div>
                  
                </div>
                <div>
                    <input class='submit '  type='submit' name='提交'>
                </div>
            </form>
        </div>
    </div>
</div>
<include file='Public/bottom'/>