<include file='Public/top'/>
        <div class='main'>
            <div class='fl slide'>
                <a>
                    <img src='__PUBLIC__/img/2c223230471611e6a143272e3aec81e6.jpg' />
                </a>
            </div>
            <!-- <div class='homelogin fr pd5'>
                <div>
                    注册
                </div>
            </div> -->
            <div class='clear'>
            </div>

            <div class='main_content'>
                <div class='search'>
                    <div class='search_checkbox'>
                         <input type='checkbox' name='search[]' value='pic'>相册
                    </div>
                    <div class='search_checkbox'>
                        <input type='checkbox' name='search[]' value='say'>说说
                    </div>
                    <div class='search_checkbox'> 
                        <input type='checkbox' name='search[]' value='log'>日志
                    </div>
                    <div class='clear'></div>
                </div>
                <div class='content'>
                    <div class='box'>
                        <div class='box_top'>
                            <div class='face'>
                                <a href='#' class='user_face'>
                                    <img src='__PUBLIC__/img/middle.jpg'>
                                </a>
                            </div>
                            
                            <div class='box_top_right'>
                                <div>
                                    <a href=''>
                                        小白爱吃小白菜QA_
                                    </a>
                                </div>
                               
                                <div class='box_top_time'>
                                    2天前
                                </div>
                            </div>
                            <div class='clear'></div>
                        </div>
                        <div class='box_mid'>
                            <div class='box_mid_title'>
                                <a href='#' target='_blank'>
                                    泳池派对同人版阿狸
                                </a>
                            </div>
                            <div class='box_mid_content'>
                                <div>
                                    内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容...
                                    <a href='{:U("detail/index")}'>
                                        [全部内容]
                                    </a>
                                </div>
                                <div class='box_mid_img'>
                                    <img src='__PUBLIC__/img/w650.jpg'>
                                </div>
                            </div>
                            <div>
                                <span class='button'>转发</span>
                                <span class='button'>赞</span>
                                <span class='button'>评论</span>
                            </div>
                        </div>
                        <div class='box_bom'>
                        </div> 
                    </div>
                </div>
                <div class='box'>
                        <div class='box_top'>
                            <div class='face'>
                                <a href='#' class='user_face'>
                                    <img src='__PUBLIC__/img/middle.jpg'>
                                </a>
                            </div>
                            
                            <div class='box_top_right'>
                                <div>
                                    <a href=''>
                                        小白爱吃小白菜QA_
                                    </a>
                                </div>
                               
                                <div class='box_top_time'>
                                    2天前
                                </div>
                            </div>
                            <div class='clear'></div>
                        </div>
                        <div class='box_mid'>
                            <div class='box_mid_title'>
                                <a href='#' target='_blank'>
                                    泳池派对同人版阿狸
                                </a>
                            </div>
                            <div class='box_mid_content'>
                                <div>
                                    内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容...
                                    <a href=''>
                                        [全部内容]
                                    </a>
                                </div>
                                <div class='box_mid_img'>
                                    <img src='__PUBLIC__/img/w650.jpg'>
                                </div>
                            </div>
                            <div>
                                <span class='button'>转发</span>
                                <span class='button'>赞</span>
                                <span class='button'>评论</span>
                            </div>
                        </div>
                        <div class='box_bom'>
                        </div> 
                    </div>
                </div>
                <div class='box'>
                        <div class='box_top'>
                            <div class='face'>
                                <a href='#' class='user_face'>
                                    <img src='__PUBLIC__/img/middle.jpg'>
                                </a>
                            </div>
                            
                            <div class='box_top_right'>
                                <div>
                                    <a href=''>
                                        小白爱吃小白菜QA_
                                    </a>
                                </div>
                               
                                <div class='box_top_time'>
                                    2天前
                                </div>
                            </div>
                            <div class='clear'></div>
                        </div>
                        <div class='box_mid'>
                            <div class='box_mid_title'>
                                <a href='#' target='_blank'>
                                    泳池派对同人版阿狸
                                </a>
                            </div>
                            <div class='box_mid_content'>
                                <div>
                                    内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容...
                                    <a href=''>
                                        [全部内容]
                                    </a>
                                </div>
                                <div class='box_mid_img'>
                                    <img src='__PUBLIC__/img/w650.jpg'>
                                </div>
                            </div>
                            <div>
                                <span class='button'>转发</span>
                                <span class='button'>赞</span>
                                <span class='button'>评论</span>
                            </div>
                        </div>
                        <div class='box_bom'>
                        </div> 
                    </div>
                    <div class='clear'></div>
                </div>
            </div>
        </div>
<include file='Public/bottom'/>
