<include file='Public/top'/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/user.css">
<div class='main'>
      <include file='user_top'/>
       <div class='user_content user_info'>
        <form method='post' action=''>
          <ul class=''>
            <li>
                <label>昵称:</label><input type='text' name='nickName' value=''>
            </li>
            <li>
              <p><label>性别:</label>
                <select>
                    <option>男</option>
                    <option>女</option>
                </select>
              </p>
            </li>
            <li>
              <p>
                <label>地区:</label>
                <select>
                      <option>省份</option>
                      <option>模特</option>
                      <option>店主</option>
                </select>
                <select>
                      <option>城市</option>
                      <option>模特</option>
                      <option>店主</option>
                </select>
              </p>
            </li>
            <li>
              <p>
                <label>个人身份:</label>
                <select>
                      <option>摄影师</option>
                      <option>模特</option>
                      <option>店主</option>
                </select>
              </p>
            </li>
            <li>
              <label>个性签名:</label>
              <input type='text' name='nickName' value=''>
            </li>
            

          </ul>
          <div class='clear'></div>
          <input type='submit' value='提交' class='user_from_submit'>   
        </form> 

        <div class='clear'></div> 
       </div>
</div>
<include file='Public/bottom'/>