<include file='Public/top'/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/user.css">
<div class='main'>
       <include file='user_top'/>
       <div class='user_content user_info'>
        <form method='post' action=''>
          <ul class=''>
            <li>
                <label>昵称:</label>
                <span>livebabys</span>
            </li>
            <li>
              <p><label>性别:</label>
                 <span>男</span>
              </p>
            </li>
            <li>
              <p>
                <label>地区:</label>
                <span>安徽</span>
                <span>淮南</span>
              </p>
            </li>
            <li>
              <p>
                <label>个人身份:</label>
                <span>摄影师</span>
              </p>
            </li>
            <li>
              <label>个性签名:</label>
              <span>我就是个性签名咯</span>
            </li>
            

          </ul>
          <div class='clear'></div> 
        </form> 

        <div class='clear'></div> 
       </div>
</div>
<include file='Public/bottom'/>