  <div class='user_top'>
            <div class='user_top_left_face'>
                <img class='user_face' src='__PUBLIC__/img/default_face.png'>
            </div>
            <div class='user_top_right'>
                <p>livebabys</p>
                <p>个人的人，个性的签名</p>
            </div>
            <div class='clear'></div>
       </div> 
       <div class='user_nav'>
            <ul>
                <li><a href="{:U('user/index')}">个人中心</a></li>
                <li><a href="{:U('user/editinfo')}">修改资料</a></li>
                <li><a href="{:U('user/editface')}">修改头像</a></li>
                <li><a href="{:U('user/pic')}">专辑</a></li>
            </ul>
            <div class='clear'></div>
       </div>