<include file='Public/top'/>
<div class='main registerdiv'>
    <div class='rigister'>
        <div class='regiset_top'>
            <div class='regiset_top_title'>
                注册
            </div>
            <div>
                返回登陆
            </div>
        </div>
        <div>
            <from action='' method='post'>
                <div class='regist_from'>
                    <div class='input_div'>
                        <label class='label'>手机号:</label>
                        <input class='input_text' type='text' name='phone' value=''>
                    </div>
                    <div class='input_div'>
                        <label class='label'>昵称:</label>
                        <input class='input_text' type='text' name='nickName' value=''>
                    </div>
                    <div class='input_div'>
                        <label class='label'>验证码</label>
                        <input class='input_text' type='text' name='validate' >
                        <span class='button'>获取验证码</span>
                    </div>
                    <div class='input_div'>
                        <label class='label'>密码</label>
                        <input  class='input_text' type='password' name='passwd' >
                    </div>
                    <div class='input_div'>
                        <label class='label'>确认密码</label>
                        <input class='input_text' type='password' name='confirmPassword' >
                    </div>
                </div>
                <div>
                    <input class='submit '  type='submit' name='提交'>
                </div>
            </form>
        </div>
    </div>
</div>
<include file='Public/bottom'/>