<include file='Public/top'/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/detail.css">
<div class='main detail'>
    <div class='detail_top'>
        <div class='detail_mid'>
            <form method='post' action=''>
            <p>活动主题：<input type='text' name='title' value=''></p>
            <p>活动时间：<input type='text' name='time' value=''></p>
            <p>活动地点：<input type='text' name='address'></p>
            <p>活动内容：<textarea name='content'></textarea></p>
           <input type='submit' value='提交'>
        </form>
        </div>
        
    </div>
 

</div>
<include file='Public/bottom'/>