<include file='Public/top'/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/detail.css">
<div class='main detail'>
    <div class='detail_top'>
        <div class='detail_top_info'>
            <div class='fl'>
                <img class='detail_face' src='__PUBLIC__/img/default_face.png'>
            </div>

            <div class=' detail_top_userinfo'>
                <span>livebabys</span>
                <span>三分钟前</span>
            </div>
            <div class='clear'></div>
        </div>
        <div class='detail_mid'>
            <p>活动主题：活动的主题信息</p>
            <p>活动时间：1998年10月24日 8点</p>
            <p>活动地点：安徽省淮南市田家庵区田东四号路</p>
            <div class='detail_content'>
                 <p>活动内容：本次活动以吹牛逼为主，什么都可以吹。人有多大胆地。有多大产</p>
                 這里可能会有图片
            </div>
           
        </div>
        
    </div>
    <div class='detail_content_list'>
        <div class='detail_content'>
            <div class='fl detail_content_left'>
                <p><img class='detail_face' src='__PUBLIC__/img/default_face.png'></p>
                <p>用户昵称</p>
            </div>
            <div class='fl detail_content_div'>
                这个活动真牛逼，在哪里参加
            </div>
            <div class='clear'></div>
        </div>
         <div class='detail_content'>
            <div class='fl detail_content_left'>
                <p><img class='detail_face' src='__PUBLIC__/img/default_face.png'></p>
                <p>用户昵称</p>
            </div>
            <div class='fl detail_content_div'>
                这个活动真牛逼，在哪里参加
            </div>
            <div class='clear'></div>
        </div>
    </div>
    <div>
        <form method='post' action=''>
            <textarea id='content'></textarea>
            <input class='detail_submit' type='submit' value='评论'>
        </form>
        <div class='clear'></div>
    </div>

</div>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript">
    $(function(){
        var ue = UE.getEditor('content');
    })
</script>
<include file='Public/bottom'/>